{% extends "pretixcontrol/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "User" %}{% endblock %}
{% block content %}
    {% translate 'No email' as no_email_text %}
    <h1>{% trans "User" %} {{ form.instance.email|default:no_email_text }}</h1>
    <p>
        {% if form.instance.auth_backend == "native" %}
            <form action='{% url "eventyay_admin:admin.users.reset" id=form.instance.pk %}' method="post" class="form-inline helper-display-inline">
                {% csrf_token %}
                <button class="btn btn-default">{% trans "Send password reset email" %}</button>
            </form>
        {% endif %}
        <form action='{% url "eventyay_admin:admin.users.impersonate" id=form.instance.pk %}' method="post" class="form-inline helper-display-inline">
            {% csrf_token %}
            <button class="btn btn-default">{% trans "Impersonate user" %}</button>
        </form>
        <a href='{% url "eventyay_admin:admin.users.anonymize" id=form.instance.pk %}' class="btn btn-default">{% trans "Anonymize" %}</a>
    </p>
    <div class="row">
        <div class="col-md-10 col-xs-12">
            <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form_errors form %}
                <fieldset>
                    <legend>{% trans "Base settings" %}</legend>
                    {% bootstrap_field form.is_active layout='control' %}
                    {% bootstrap_field form.fullname layout='control' %}
                    {% bootstrap_field form.locale layout='control' %}
                    {% bootstrap_field form.timezone layout='control' %}
                    {% bootstrap_field form.is_staff layout='control' %}
                </fieldset>
                <fieldset>
                    <legend>{% trans "Log-in settings" %}</legend>
                    <div class="form-group">
                        <label class="col-md-3 control-label">{% trans "Authentication backend" %}</label>
                        <div class="col-md-9">
                            <input name="text" value="{{ backend }}" class="form-control" disabled>
                        </div>
                    </div>
                    {% bootstrap_field form.email layout='control' %}
                    {% if form.new_pw %}
                        {% bootstrap_field form.new_pw layout='control' %}
                        {% bootstrap_field form.new_pw_repeat layout='control' %}
                    {% endif %}
                    {% bootstrap_field form.last_login layout='control' %}
                    {% bootstrap_field form.require_2fa layout='control' %}
                </fieldset>
                <fieldset>
                    <legend>{% trans "Connected accounts" %}</legend>
                    {% if not sso_providers_active and not connected_accounts %}
                        <p class="help-block">{% trans "No SSO providers are configured on this platform." %}</p>
                    {% elif connected_accounts %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>{% trans "Provider" %}</th>
                                    <th>{% trans "Identifier" %}</th>
                                    <th>{% trans "Date connected" %}</th>
                                    <th>{% trans "Status" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in connected_accounts %}
                                    <tr>
                                        <td>{{ account.provider_label }}</td>
                                        <td>
                                            {% if account.username %}
                                                {{ account.username }}
                                            {% elif account.email %}
                                                {{ account.email }}
                                            {% else %}
                                                {{ account.uid }}
                                            {% endif %}
                                        </td>
                                        <td>{{ account.date_joined|date:"SHORT_DATETIME_FORMAT" }}</td>
                                        <td>
                                            {% if account.is_active_provider %}
                                                <span class="label label-success">{% trans "Active" %}</span>
                                            {% else %}
                                                <span class="label label-warning">{% trans "Inactive provider" %}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="help-block">{% trans "No connected accounts." %}</p>
                    {% endif %}
                </fieldset>
                <fieldset>
                    <legend>{% trans "Team memberships" %}</legend>
                    <ul>
                        {% for t in teams %}
                            <li>
                                <a href='{% url "eventyay_common:organizer.teams" organizer=t.organizer.slug %}?section=permissions&team={{ t.pk }}'>
                                    {% blocktrans trimmed with team=t.name organizer=t.organizer.name %}
                                        Team "{{ team }}" of organizer "{{ organizer }}"
                                    {% endblocktrans %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </fieldset>
                <div class="form-group submit-group">
                    <button type="submit" class="btn btn-primary btn-save">
                        {% trans "Save" %}
                    </button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% trans "User history" %}
                    </h3>
                </div>
                {% include "pretixcontrol/includes/logs.html" with obj=form.instance %}
                <li class="list-group-item logentry">
                    <p class="meta">
                        <span class="fa fa-clock-o"></span> {{ form.instance.date_joined|date:"SHORT_DATETIME_FORMAT" }}
                    </p>
                    <p>
                        {% trans "User created." %}
                    </p>
                </li>
            </div>
        </div>
    </div>
{% endblock %}
