{% extends "pretixcontrol/event/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}{% trans "Send email" %}{% endblock %}
{% block content %}
    <h1>
        {% trans "Send email" %}
        <a class="btn btn-link btn-lg"
                href="{% url "control:event.order" event=request.event.slug organizer=request.event.organizer.slug code=order.code %}">
            {% blocktrans trimmed with order=order.code %}
                Back to order {{ order }}
            {% endblocktrans %}
        </a>
    </h1>
    {% block inner %}
        <form class="form-horizontal" method="post" action="">
            {% csrf_token %}
            {% bootstrap_field form.sendto layout='horizontal' %}
            {% bootstrap_field form.subject layout='horizontal' %}
            <div class="form-group"
                 data-richtext-preview-wrapper
                 data-richtext-preview-url="{{ order_mail_preview_url }}">
                <label class="col-md-3 control-label" for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
                <div class="col-md-9">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a data-toggle="tab" href="#order_message_edit">
                                <i class="fa fa-pencil-square-o fa-fw"></i> {% trans "Edit" %}
                            </a>
                        </li>
                        <li role="presentation">
                            <a data-toggle="tab" href="#order_message_preview" data-richtext-preview-tab>
                                <i class="fa fa-tv fa-fw"></i> {% trans "Preview" %}
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="order_message_edit" class="tab-pane fade in active">
                            {% bootstrap_field form.message show_label=False form_group_class="" %}
                        </div>
                        <div id="order_message_preview" class="tab-pane">
                            <div class="richtext-preview well"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group submit-group">
                <button type="submit" class="btn btn-primary btn-save">
                    {% trans "Send" %}
                </button>
            </div>
        </form>
    {% endblock %}
{% endblock %}
