{% extends "cfp/event/base.html" %}

{% load event_tags %}
{% load staff_session %}
{% load i18n %}
{% load rich_text %}

{% block content %}
    {% with cfp=request.event.cfp %}
        {% can_view_featured_sessions_public request.event as can_view_featured_submissions %}
        <div class="url-links">
            {% if has_submissions or request.user.is_anonymous %}
                {% if not is_html_export %}
                    <a class="btn btn-info btn-lg btn-block" href="{{ request.event.urls.user_submissions }}">
                        {{ phrases.agenda.view_own_submissions }}
                    </a>
                {% endif %}
            {% endif %}
            {% if request.event.has_schedule_content and request.event|get_feature_flag:"show_schedule" %}
                <a class="btn btn-success btn-lg btn-block" href="{{ request.event.urls.schedule }}">
                    {{ phrases.agenda.view_schedule }}
                </a>
            {% elif can_view_featured_submissions and has_featured and not request.event.current_schedule %}
                <a class="btn btn-info btn-lg btn-block" href="{{ request.event.urls.featured }}">
                    {{ phrases.agenda.view_schedule_preview }}
                </a>
            {% endif %}
            {% if cfp.is_open and not is_html_export %}
                <a class="btn btn-info btn-lg btn-block" href="{{ request.event.cfp.urls.public }}{{ submit_qs }}">
                    {{ phrases.cfp.go_to_cfp }}
                </a>
            {% endif %}
            {% if can_see_orga_area %}
                <a class="btn btn-info btn-lg btn-block" href="{{ request.event.orga_urls.base }}">
                    {% translate "Go To Organiser Area" %}
                </a>
            {% endif %}
        </div>
    {% endwith %}
{% endblock content %}
