{% extends "common/error.html" %}

{% load i18n %}
{% load static %}

{% block error_image %}
    <img loading="lazy" src="{% static "common/img/error_5xx.svg" %}" class="img" alt="{% translate "Verification failed." %}">
{% endblock error_image %}
{% block error_message %}
    <p>
        {% translate "Verification failed." %}
        <br>
    </p>
{% endblock error_message %}
{% block error_details %}
    <h5>
        <p class="ml-auto mr-auto text-center">
            {% blocktranslate trimmed %}
                We could not verify that this request really was sent by you. For security reasons, we cannot process it.
                <br>
                Please go back to the last page, refresh, and then try again.
            {% endblocktranslate %}
        </p>
    </h5>
    <div class="mt-4 text-center">
        {% if request.user.is_authenticated %}
            <a href="/" class="btn btn-white btn-lg shadow-sm"><i class="fa fa-home mr-2"></i>{% trans "Go to Homepage" %}</a>
        {% else %}
            <a href="{% url 'auth.login' %}?next={{ request.get_full_path|urlencode }}" class="btn btn-white btn-lg shadow-sm mr-2 mb-2"><i class="fa fa-sign-in mr-2"></i>{% trans "Log in" %}</a>
            <a href="/" class="btn btn-outline-white btn-lg mb-2"><i class="fa fa-home mr-2"></i>{% trans "Go to Homepage" %}</a>
        {% endif %}
    </div>
{% endblock error_details %}
{% block error_code %}403: CSRF{% endblock error_code %}
