# .env file for eventyay
# 
# This file is read on three occasions:
# - docker compose reads it to expand variables in the docker-compose.yml file
# - several docker container have this file defined as .env file
# - scripts in /usr/local/bin use this for backup etc
#
#
# TAG gives the docker image tag:
# - main for images build from the main branch
# - dev for images build from the dev branch
TAG=main
# Set path to a directory which will contain data for static pages, postgres, and general app data.
# This directory can be relative, in which case it is relative to the location of the docker-compose.yml file.
# This directory must contain:
# ${DATA_DIR}/data
# ${DATA_DIR}/postgres
# ${DATA_DIR}/static
# For example, with DATA_DIR=./data the actual paths are ./data/data, ./data/postgres, ./data/static.
DATA_DIR=./data
# Settings for scripts
# DEPLOYMENT_NAME is a directrory name where the docker-compose.yml file resides
# It is **also** used for backups as directory on the backups server!
DEPLOYMENT_NAME=CHANGEME
# MANAGEMENT_EMAIL gives the email used for certbot registration and delivery of error message
MANAGEMENT_EMAIL=some@foo.com
# BACKUP_LOCAL_LOCATION gives a local directory for the backups which are than
#   synced to BACKUP_REMOTE_LOCATION
# BACKUP_REMOTE_LOCATION gives the rclone entry and possible local part
# It MUST either end with a : or with a slash
# Possible values:
#   b2:eventyay-backup/
#   b2:
# Backups will be made into $BACKUP_REMOTE_LOCATION/$DEPLOYMENT_NAME/{db,data}
BACKUP_LOCAL_LOCATION=$HOME/backup/db
BACKUP_REMOTE_LOCATION=something:somedir
# enable/disable backups for database and data, values are 1 for do it, anything else don't
DO_DB_BACKUP=1
DO_MEDIA_BACKUP=1
#
# EVY_ variables are loaded into the django configuration
EVY_DEBUG=0
EVY_RUNNING_ENVIRONMENT=production
EVY_SITE_URL=https://<SERVER_NAME>
EVY_TALK_HOSTNAME=https://<SERVER_NAME>
EVY_SECRET_KEY=CHANGEME
EVY_POSTGRES_DB=CHANGEME_db
EVY_POSTGRES_USER=CHANGEME_user
EVY_POSTGRES_PASSWORD=CHANGEME_pass
EVY_POSTGRES_HOST=eventyay-next-db
EVY_POSTGRES_PORT=5432
EVY_ALLOWED_HOSTS='[ "<SERVER_NAME>" ]'
EVY_EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EVY_EMAIL_HOST='CHANGE.ME.SERVER'
EVY_DEFAULT_FROM_EMAIL='CHANGE@ME.COM'
EVY_EMAIL_HOST_USER='CHANGE@ME.COM'
EVY_EMAIL_HOST_PASSWORD='CHANGEME_email_pass'
EVY_EMAIL_USE_TLS=1
# Variables used by the entrypoing.prod.sh script
POSTGRES_HOST=eventyay-next-db
POSTGRES_PORT=5432
# Not sure what this is for, seems to be unused
DATABASE=postgres
# postgres container setup
POSTGRES_DB=CHANGEME_db
POSTGRES_USER=CHANGEME_user
POSTGRES_PASSWORD=CHANGEME_pass
# watchtower container setup
WATCHTOWER_NOTIFICATION_URL=CHANGEME_notification_or_empty
WATCHTOWER_NOTIFICATIONS_HOSTNAME=CHANGEME_identifier
