{% extends "pretixcontrol/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% block title %}{% trans "Page settings" %}{% endblock %}
{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'control/css/admin-pages-toastui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'orga/css/_flags.css' %}" />
    <script defer src="{% static 'vendored/marked.min.js' %}"></script>
    <script defer src="{% static 'vendored/purify.min.js' %}"></script>
    <script defer src="{% static 'control/js/admin-pages-language-manager.js' %}"></script>
    <script defer src="{% static 'common/js/modalDialog.js' %}"></script>
{% endblock custom_header %}
{% block content %}
    <h1>{% trans "Page settings" %}</h1>
    <form action="" method="post" class="form-horizontal" data-id="{{ page.id }}">
        {% csrf_token %}
        {% bootstrap_form_errors form type='all' %}
        <fieldset>
            <legend>{% trans "General information" %}</legend>
            {% bootstrap_field form.title layout="horizontal" %}
            {% bootstrap_field form.slug layout="horizontal" %}
            {% if page.id %}
                <div class="form-group">
                    <label class="col-md-3 control-label" for="id_url">{% trans "Page link" %}</label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control" readonly="readonly" type="text"
                                   value="{{ url }}" id="id_url">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default btn-clipboard"
                                        data-clipboard-target="#id_url">
                                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                                    <span class="sr-only">
                                        {% trans "Copy" %}
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% bootstrap_field form.link_on_website_start_page layout="horizontal" %}
            {% bootstrap_field form.link_in_header layout="horizontal" %}
            {% bootstrap_field form.link_in_footer layout="horizontal" %}
            {% bootstrap_field form.confirmation_required layout="horizontal" %}
            {% bootstrap_field form.text layout="horizontal" %}
        </fieldset>
        <div class="form-group submit-group">
            <a href="{% url 'eventyay_admin:admin.pages.additional' %}" class="btn btn-default btn-lg pull-left flip">
                {% trans "Back" %}
            </a>
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
