{% extends "pretixcontrol/admin/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}

{% block title %}{% trans "Start page" %}{% endblock %}
{% block custom_header %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'orga/css/_flags.css' %}" />
{% endblock %}
{% block content %}
    <h1>{% trans "Start page" %}</h1>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% bootstrap_field form.startpage_header_image layout="control" %}
        {% bootstrap_field form.startpage_header_text layout="control" %}
        <fieldset>
            <legend>{% trans "Hero Section" %}</legend>
            {% bootstrap_field form.startpage_show_hero layout="control" %}
            {% bootstrap_field form.startpage_hero_title layout="control" %}
            {% bootstrap_field form.startpage_hero_text layout="control" %}
        </fieldset>
        <fieldset>
            <legend>{% trans "Feature Boxes" %}</legend>
            {% bootstrap_field form.startpage_show_features layout="control" %}
            {% bootstrap_field form.startpage_feature_1_title layout="control" %}
            {% bootstrap_field form.startpage_feature_1_text layout="control" %}
            {% bootstrap_field form.startpage_feature_2_title layout="control" %}
            {% bootstrap_field form.startpage_feature_2_text layout="control" %}
            {% bootstrap_field form.startpage_feature_3_title layout="control" %}
            {% bootstrap_field form.startpage_feature_3_text layout="control" %}
            {% bootstrap_field form.startpage_feature_4_title layout="control" %}
            {% bootstrap_field form.startpage_feature_4_text layout="control" %}
        </fieldset>
        <div class="form-group submit-group">
            <button type="submit" class="btn btn-primary btn-save">
                {% trans "Save" %}
            </button>
        </div>
    </form>
{% endblock %}
