{% extends "agenda/base.html" %}

{% load i18n %}

{% load presale_locale %}
{% load static %}
{% block agenda_custom_header %}
    {% include "cfp/includes/forms_header.html" %}
{% endblock %}

{% block content %}

    <h3 class="talk-title">
        <a href="{{ talk.urls.public }}">{{ quotation_open }}{{ talk.title|event_localize }}{{ quotation_close }}</a>
    </h3>
    <div class="talk row">
        <div class="talk-content">
            <div class="description">
                {% blocktranslate trimmed %}
                    Reviews are a valuable tool for speakers to improve their content and presentation.
                    Even a short review can prove valuable to a speaker! Please
                    take the time and communicate your feedback in a constructive way.
                {% endblocktranslate %}
                {{ phrases.agenda.feedback_success }}
                {% if not talk.does_accept_feedback or not can_give_feedback %}
                    {% translate "You can’t give feedback for this session at this time." %}
                {% else %}
                    <form method="post">
                        {% csrf_token %}
                        {% if form.speaker %}
                            {{ form.speaker.as_field_group }}
                        {% endif %}

                        {{ form.review.as_field_group }}

                        <div class="form-group mb-4 star-rating">
                            <div class="rating-container">
                                <label class="rating-label">
                                    {% translate 'Rating' %}
                                </label>
                                <div class="rating-stars">
                                    {% for radio in form.rating %}
                                        {{ radio.tag }}
                                        <label for="{{ radio.id_for_label }}" title="{{ radio.choice_label }} {% translate 'stars' %}">
                                            ★
                                        </label>
                                    {% endfor %}
                                </div>
                            </div>
                            {{ form.rating.errors }}
                        </div>

                        <button type="submit" class="btn btn-success float-right">{{ phrases.base.send }}</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
